.competencesContainer {
    
  @media screen and (max-width: 1399px) {
    min-width: unset;
  }

  @media screen and (max-width: 768px) {
    width: 85vw;
  }
}


.competenceLogoContainer {
  z-index: 10;
  background: radial-gradient(#1e293b, #52525b);
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #1e293b;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-sizing: border-box;

  > img {
    height: 50%;
    width: 50%;
    object-fit: contain;
  }

  @media screen and (max-width: 768px) {
    width: 80px;
    height: 80px;
  }
}

.otherCompetencesContainer {
  display: flex;
}

@media screen and (max-width: 1399px) {
  .reverseResponsive {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 768px) {
  .individualCompetenceBlock {
    > div {
      gap: 2rem 2rem;
      padding: 20px 10px 20px 10px;
    }
  }
}
